mode: rule
ipv6: true
mixed-port: 7890
log-level: error
allow-lan: false
unified-delay: true
tcp-concurrent: false
find-process-mode: off
external-controller: 0.0.0.0:9090
external-ui: ./UI
external-ui-url: "https://github.com/Zephyruso/zashboard/releases/latest/download/dist-cdn-fonts.zip"
routing-mark: 2
profile:
  store-selected: true
  store-fake-ip: true
  tracing: true
sniffer:
  enable: true
  force-dns-mapping: true
  parse-pure-ip: true
  sniff:
    HTTP:
      ports: [80]
      override-destination: true
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]
  skip-domain:
    - Mijia Cloud
    - +.lan
    - +.local
    - +.msftconnecttest.com
    - +.msftncsi.com
    - +.3gppnetwork.org
    - +.openwrt.org
    - +.vsean.net
    - cudy.net

hosts:
  ntc.party: 130.255.77.28

dns:
  enable: true
  listen: 0.0.0.0:7880
  ipv6: true
  nameserver:
    - https://dns.google/dns-query
    - https://dns.quad9.net/dns-query
    - https://dns.cloudflare.com/dns-query
    - https://common.dot.dns.yandex.net/dns-query
    - https://unfiltered.adguard-dns.com/dns-query

proxies:

  - name: "Домашний интернет"
    type: direct

  - name: "VLESS" # СОХРАНИТЕ ЭТО ИМЯ ЗАМЕНИВ ВСЕ ОСТАЛЬНЫЕ ДАННЫЕ НА ВАШИ
    type: vless
    server: XXX
    port: 443
    uuid: XXX
    encryption: none
    flow: xtls-rprx-vision
    udp: true
    tls: true
    servername: XXX
    client-fingerprint: chrome
    reality-opts:
      public-key: XXX
      short-id: XXX
      spider-x: "/"
    network: tcp

proxy-groups:

  - name: "Сервер для YouTube"
    type: fallback
    url: http://gstatic.com/generate_204
    expected-status: 204
    interval: 300
    lazy: true
    icon: https://www.clashverge.dev/assets/icons/youtube.svg
    proxies:
      - "VLESS"
      - "Домашний интернет"

  - name: "Сервер для остального трафика"
    type: fallback
    url: http://gstatic.com/generate_204
    expected-status: 204
    interval: 300
    lazy: true
    icon: https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.3/assets/svg/1f310.svg
    proxies:
      - "VLESS"

rule-providers:

  youtube:
    type: http
    format: yaml
    behavior: classical
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/YouTube/YouTube.yaml"
    path: ./rule-providers/youtube-list.yaml
    interval: 86400

rules:

  # Правила для списков из rule-providers
  - RULE-SET,youtube,Сервер для YouTube
  
  # Правило для остального трафика
  - MATCH,Сервер для остального трафика